.box {
  width: 100px;
  height: 100px;
  background-color: #4682b4;
  transition: background-color 1s ease;
  margin: 50px;
}

/* When hovered, the color transitions smoothly */
.box:hover {
  background-color: coral;
}

/* Animation for the box */
.box {
  width: 100px;
  height: 100px;
  background-color: #4f46e5; /* Indigo */
  animation: slideIn 1.5s ease-out forwards;
  margin-top: 20px;
  transform: translateX(-100%);
}

/* Keyframe definition for box */
/* @keyframes slideIn {
  to {
    transform: translateX(0);
  }
} */

/* Animate the box */
.box {
  width: 100px;
  height: 100px;
  background-color: #4f46e5; /* Indigo */
  margin-top: 20px;

  animation: bounceIn 1.5s ease-in-out forwards;
  /* transform: scale(30); */
  /* transform: ; */

  transform: rotateY("50");
}

/* Keyframe for a bounce/scale-in effect */
/* animation */
/* transition */
/* @keyframes bounceIn {
  0% {
    transform: rotateY(10);
    opacity: 0;
  }
  60% {
    transform: rotateY(2);
    opacity: 1;
  }
  100% {
    transform: scale(1);
  }
} */

h1 {
  font-family: "lavishly yours";
  /* font-family: 'Times New Roman', Times, serif; */
}
