body {
  padding: 0px;
  margin: 0px;
}

nav {
  color: white;
  margin-top: 0px;
  background-color: navy;
  padding: 0.5px;
}

li {
  display: inline;
  margin: 0px 3px;
}

li:first-child {
  border: 1px solid #aaa;
  padding: 3px;
  border-radius: 4px;
}
