h1 {
  /* name of color */
  /* color: white; */

  /* color in hex code */
  /* color: #45a824; */

  /* RGB */
  /* color: rgb(100, 0, 100); */

  /* RGBA */
  color: rgba(30, 20, 400, 1);

  font-size: 90px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  /* background-color: lightcoral; */
  /* text-align: center; */
  /* border: 20px dashed #aaa; */
  border-top: 4px solid teal;
  border-bottom: 40px solid green;
  padding: 40px 20px 10px 60px;
  /* margin: 50px; */
  margin-bottom: 200px;

  /* padding-top: 40px; */
}

p {
  color: teal;
  font-weight: bold;
  font-size: 40px;
}
